RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]
AuthName "Calendars"
AuthUserFile "/home/nemis206/.htpasswds/public_html/tmp/passwd"
